# SERVER CONFIG
PORT=3000

# DATABASE CONFIG (Mẫu kết nối Docker MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=dien_mat_khau_mysql_cua_ban_vao_day
DB_NAME=chronosflow_db

# EMAIL CONFIG (Nodemailer)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=email_he_thong@gmail.com
MAIL_PASS=ma_app_password_cua_google